body{
    background-color: #f0f0f0!important;
}

nav{
    background-color: #ffffff!important;
    border: none!important;
}

h1{
    font-size: 18px!important;
}

h1, h2, p{
    cursor: default;
}

.video{
    cursor: hand;
}

.active{
    background-color: #0076EC!important;
    color: #ffffff!important;
}

.panel-body, .panel-default{
    border: none;
}

#video-container{
    padding: 0;
    background-color: #000000;
}
